apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
#  creationTimestamp: null
  name: zync-que-role
rules:
- apiGroups:
  - apps.openshift.io
  resources:
  - deployments
# FIXME ^^
  verbs:
  - get
  - list
- apiGroups:
  - ""
  resources:
  - pods
  - replicationcontrollers
  verbs:
  - get
  - list
- apiGroups:
  - route.openshift.io
  resources:
  - routes
  verbs:
  - get
  - list
  - create
  - delete
  - patch
  - update
- apiGroups:
  - route.openshift.io
  resources:
  - routes/status
  verbs:
  - get
- apiGroups:
  - route.openshift.io
  resources:
  - routes/custom-host
  verbs:
  - create
