apiVersion: v1
kind: Service
metadata:
#  creationTimestamp: null
  labels:
    app: ${APP_LABEL}
    threescale_component: zync
  name: zync
spec:
  ports:
  - name: 8080-tcp
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    deployment: zync
