apiVersion: v1
kind: Secret
metadata:
  labels:
    app: {{ APP_LABEL }}
    threescale_component: zync
  name: zync
stringData:
  DATABASE_URL: postgresql://zync:{{ ZYNC_DATABASE_PASSWORD }}@zync-database:5432/zync_production
  SECRET_KEY_BASE: {{ ZYNC_SECRET_KEY_BASE }}
  ZYNC_AUTHENTICATION_TOKEN: {{ ZYNC_AUTHENTICATION_TOKEN }}
  ZYNC_DATABASE_PASSWORD: {{ ZYNC_DATABASE_PASSWORD }}
type: Opaque
