apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ APP_LABEL }}
    threescale_component: zync
    threescale_component_element: database
  name: zync-database
spec:
  ports:
  - name: postgresql
    port: 5432
    protocol: TCP
    targetPort: 5432
  selector:
    deployment: zync-database
