apiVersion: v1
kind: Secret
metadata:
  labels:
    app: {{ APP_LABEL }}
    threescale_component: system
  name: system-master-apicast
stringData:
  ACCESS_TOKEN: {{ APICAST_ACCESS_TOKEN }}
  BASE_URL: https://{{ APICAST_ACCESS_TOKEN }}@{{ MASTER_DOMAIN }}
  PROXY_CONFIGS_ENDPOINT: https://{{ APICAST_ACCESS_TOKEN }}@{{ MASTER_DOMAIN }}/master/api/proxy/configs
type: Opaque
