apiVersion: v1
kind: Secret
metadata:
  labels:
    app: {{ APP_LABEL }}
    threescale_component: system
  name: system-master-apicast
stringData:
  ACCESS_TOKEN: ${APICAST_ACCESS_TOKEN}
  BASE_URL: http://${APICAST_ACCESS_TOKEN}@system:3000
  PROXY_CONFIGS_ENDPOINT: http://${APICAST_ACCESS_TOKEN}@system:3000/master/api/proxy/configs
type: Opaque
