apiVersion: v1
kind: Secret
metadata:
#  creationTimestamp: null
  labels:
    app: {{ APP_LABEL }}
    threescale_component: backend
  name: backend-listener
stringData:
  route_endpoint: https://backend-{{ TENANT_NAME }}.{{ WILDCARD_DOMAIN }}
  service_endpoint: http://backend-listener:3000
type: Opaque
