apiVersion: v1
kind: Secret
metadata:
  creationTimestamp: null
  labels:
    app: {{ APP_LABEL }}
    threescale_component: backend
  name: backend-internal-api
stringData:
  password: "{{ lookup('password', './passwordfile length=8 chars=ascii_letters,digits') }}"
  username: {{ SYSTEM_BACKEND_USERNAME }}
type: Opaque
