apiVersion: v1
data:
  APICAST_MANAGEMENT_API: {{ APICAST_MANAGEMENT_API }}
  APICAST_RESPONSE_CODES: {{ APICAST_RESPONSE_CODES }}
  OPENSSL_VERIFY: {{ APICAST_OPENSSL_VERIFY }}
kind: ConfigMap
metadata:
  labels:
    app: {{ APP_LABEL }}
    threescale_component: apicast
  name: apicast-environment
