apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: $(APP_LABEL)
    threescale_component: system
    threescale_component_element: smtp
  name: smtp
data:
  address: ""
  authentication: ""
  domain: ""
  openssl.verify.mode: ""
  password: ""
  port: ""
  username: ""
