apiVersion: v1
kind: Secret
metadata:
  labels:
    app: {{ APP_LABEL }}
    threescale_component: system
  name: system-recaptcha
stringData:
  PRIVATE_KEY: {{ RECAPTCHA_PRIVATE_KEY }}
  PUBLIC_KEY: {{ RECAPTCHA_PUBLIC_KEY }}
type: Opaque
