apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ APP_LABEL }}
    threescale_component: system
    threescale_component_element: memcache
  name: system-memcache
spec:
  ports:
  - name: memcache
    port: 11211
    protocol: TCP
    targetPort: 11211
  selector:
    deployment: system-memcache
