apiVersion: v1
kind: Secret
metadata:
  labels:
    app: {{ APP_LABEL }}
    threescale_component: system
  name: system-database
stringData:
  DB_PASSWORD: {{ SYSTEM_DATABASE_PASSWORD }}
  DB_USER: {{ SYSTEM_DATABASE_USER }}
  ROOT_PASSWORD: {{ SYSTEM_DATABASE_ROOT_PASSWORD }}
  URL: mysql2://root:{{ SYSTEM_DATABASE_ROOT_PASSWORD }}@system-mysql/{{ SYSTEM_DATABASE }}
type: Opaque