apiVersion: v1
data:
  mysql-charset.cnf: |
    [client]
    default-character-set = utf8

    [mysql]
    default-character-set = utf8

    [mysqld]
    character-set-server = utf8
    collation-server = utf8_unicode_ci
kind: ConfigMap
metadata:
  labels:
    app: {{ APP_LABEL }}
    threescale_component: system
    threescale_component_element: mysql
  name: mysql-extra-conf
---
apiVersion: v1
data:
  my.cnf: |
    !include /etc/my.cnf
    !includedir /etc/my-extra.d
kind: ConfigMap
metadata:
  labels:
    app: {{ APP_LABEL }}
    threescale_component: system
    threescale_component_element: mysql
  name: mysql-main-conf

